@import url("https://fonts.googleapis.com/css?family=Bevan");

#p404 {
    font-family: "Bevan", cursive;
    font-size: 70px;
    margin: 10vh 0 0;
    text-align: center;
    letter-spacing: 5px;
    background-color: black;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}



#a404 {
    margin-top: 100px !important;
    color: #8abeb7;
    font-family: monospace;
    font-size: 25px;
    margin-top:10px;
    display:inline-block
}

@media screen and (max-width: 880px) {
    #p404 {
        font-size: 14vw;
    }
}
