body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7ad;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login {
  background: #95a5a6;
  background-image: url(../img/dark_embroidery.png);
  font-family: 'Helvetica Neue', Arial, Sans-Serif;
  height: 100vh;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.login-wrap{
  position: relative;
  margin: 0 auto;
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px #333;
  padding: 15px;
}

.button{
  background: #333;
  border:none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  cursor: pointer;
  transition: box-shadow .4s ease;
}

.button:hover{
  box-shadow: 1px 1px 5px #555;  
}

.button:active{
  box-shadow: 1px 1px 7px #222;  
}

#username,
#password, 
.button {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 25px;
  height: 40px;
  border-radius: 5px;
  outline: 0;
}

#username,
#password {
  border: 1px solid #bbb;
  padding: 0 0 0 10px;
  font-size: 14px;
}

h2{
  text-align: center;
  font-weight: 200;
  font-size: 2em;
  margin-top: 10px;
  color: #34495e;
}

#username:focus{
  border: 1px solid #3498db;
}

#password:focus{
  border: 1px solid #3498db;
}